@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
/* color-orange */
.orange{
    color: #FF900E;;
}
/* Dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
   background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    justify-content: space-between;
    align-items: center;

}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{

    list-style: none;
    margin-right: 30px;
}
.nav-link{

    text-decoration: none;
    font-weight: 500;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    
}
/* banner style  */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    font-size: 4rem;
    font-weight: 700; 
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}
.banner-image{
    max-width: 990px;
    margin-left: 230px;
    
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
/* teams and items style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-feature{
    margin-left: 130px;
    max-width: 530px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list{
    font-weight:500 ;
}
 .feature-discription{
    color: #727272;
} 
section{
    margin-left: 240px;
}
 section p{
    max-width: 542px;
    
}
/* some fact style  */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 124px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px ;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* small size device */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
       
    }
    .team-img-container{
    grid-template-columns: repeat(1,1fr);
    } 
    .our-feature{
        margin-left: 20px;
    }
}
/* Medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
    flex-direction:column ;
    } 
    .our-feature{
        margin: 50px auto;
    }
}